* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e3eb;
}

.container {
  position: relative;
  background-color: #f7fafd;
  max-width: 300px;
  width: 100%;
  padding: 10px 20px 20px 10px;
  border-radius: 10px;
  box-shadow: 0 5px 10px #0505050d;
}

.display {
  height: 80px;
  width: 100%;
  outline: none;
  border: none;
  text-align: right;
  margin-bottom: 1em;
  font-size: 25px;
  color: black;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.buttons button {
  padding: 10px;
  border-radius: 20em;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #e5effd;
  box-shadow: 0 5px 10px #0505050d;
}

button:hover{
  background-color: #eaebed;
}

.operator {
  color: #0a90fe;
}
